In [1]:
import pandas as pd
df = pd.read_csv('./dadosUsoDataSources.csv', sep=',')
df.head()

   AnoMesDia       Instancia DataSource  QtdConexoesCriadasDia
0   20241209  srvpje1gcons01      PjeDS                 8550.0
1   20241209  srvpje1gcons01   PjeLogDS                  164.0
2   20241209  srvpje1gcons02      PjeDS                 7845.0
3   20241209  srvpje1gcons02   PjeLogDS                  134.0
4   20241209  srvpje1gcons03      PjeDS                 6811.0

In [2]:
menorData = df['AnoMesDia'].min()
maiorData = df['AnoMesDia'].max()
qtdDias = maiorData - menorData
print("Relatorio de utilizacao dos DataSources ambiente Producao PJe")
print(f"Periodo de {menorData} ate {maiorData}, total de {qtdDias} dias")

Relatorio de utilizacao dos DataSources ambiente Producao PJe
Periodo de 20241209 ate 20241215, total de 6 dias

In [3]:
df.groupby('DataSource')['QtdConexoesCriadasDia'].sum()

DataSource
ILS                                0.0
ITZ                                0.0
JFAC                               0.0
JFAM                               0.0
JFAP                               0.0
JFAP2                              0.0
JFBA                               0.0
JFDF                               0.0
JFGO                               0.0
JFMA                               0.0
JFMG                               0.0
JFMT                               0.0
JFO                                0.0
JFPA                               0.0
JFPI                               0.0
JFRO                               0.0
JFRR                               0.0
JFTO                               0.0
MBA                                0.0
PSS                                0.0
PjeDS                        2716331.0
PjeDspace                          0.0
PjeLogDS                       32193.0
PjePostgresServico              2906.0
PjePostgresServicoEscrita          4.0
STM                                0.0
TBT                                0.0
TRF1                              29.0
UBE                                0.0
UDI                                0.0
pjeBinDS                           0.0
Name: QtdConexoesCriadasDia, dtype: float64

In [4]:
DataSourceSomatorio = df.groupby(['AnoMesDia', pd.Grouper(key='DataSource')]).filter(lambda x: x['QtdConexoesCriadasDia'].sum() > 0)
DataSourceSomatorio.groupby(['AnoMesDia', pd.Grouper(key='DataSource')]).agg({'QtdConexoesCriadasDia': sum})

                                     QtdConexoesCriadasDia
AnoMesDia DataSource
20241209  PjeDS                                   534543.0
          PjeLogDS                                  7274.0
          PjePostgresServico                         532.0
          PjePostgresServicoEscrita                    1.0
          TRF1                                         9.0
20241210  PjeDS                                   452930.0
          PjeLogDS                                  6121.0
          PjePostgresServico                         513.0
          PjePostgresServicoEscrita                    1.0
          TRF1                                         7.0
20241211  PjeDS                                   530826.0
          PjeLogDS                                  6392.0
          PjePostgresServico                         496.0
          PjePostgresServicoEscrita                    1.0
          TRF1                                         7.0
20241212  PjeDS                                    67162.0
          PjeLogDS                                   776.0
          PjePostgresServico                          58.0
          TRF1                                         1.0
20241213  PjeDS                                   503562.0
          PjeLogDS                                  7056.0
          PjePostgresServico                         497.0
          PjePostgresServicoEscrita                    1.0
          TRF1                                         3.0
20241214  PjeDS                                   321778.0
          PjeLogDS                                  2405.0
          PjePostgresServico                         392.0
          TRF1                                         1.0
20241215  PjeDS                                   305530.0
          PjeLogDS                                  2169.0
          PjePostgresServico                         418.0
          TRF1                                         1.0

In [41]:
#df_TRF1 = df[(df['DataSource'].isin(['TRF1', 'PjePostgresServico', 'PjePostgresServicoEscrita']))]
#dsUso = df_TRF1[(df_TRF1['QtdConexoesCriadasDia']>0)]

dsTRF1 = df[(df['DataSource'] == 'TRF1')]
display(dsTRF1[dsTRF1['QtdConexoesCriadasDia']>0])

dsPjePostgresServico = df[(df['DataSource'] == 'PjePostgresServico')]
display(dsPjePostgresServico[dsPjePostgresServico['QtdConexoesCriadasDia']>0])

PjePostgresServicoEscrita = df[(df['DataSource'] == 'PjePostgresServicoEscrita')]
display(PjePostgresServicoEscrita[PjePostgresServicoEscrita['QtdConexoesCriadasDia']>0])

       AnoMesDia    Instancia DataSource  QtdConexoesCriadasDia
2380    20241209  srvpje2gprv       TRF1                    9.0
4791    20241210  srvpje2gprv       TRF1                    7.0
7202    20241211  srvpje2gprv       TRF1                    7.0
9613    20241212  srvpje2gprv       TRF1                    1.0
12024   20241213  srvpje2gprv       TRF1                    3.0
14435   20241214  srvpje2gprv       TRF1                    1.0
16846   20241215  srvpje2gprv       TRF1                    1.0

       AnoMesDia    Instancia          DataSource  QtdConexoesCriadasDia
1852    20241209  srvpje1gprv  PjePostgresServico                  430.0
2376    20241209  srvpje2gprv  PjePostgresServico                  102.0
4262    20241210  srvpje1gprv  PjePostgresServico                  429.0
4787    20241210  srvpje2gprv  PjePostgresServico                   84.0
6673    20241211  srvpje1gprv  PjePostgresServico                  420.0
7198    20241211  srvpje2gprv  PjePostgresServico                   76.0
9084    20241212  srvpje1gprv  PjePostgresServico                   47.0
9609    20241212  srvpje2gprv  PjePostgresServico                   11.0
11495   20241213  srvpje1gprv  PjePostgresServico                  403.0
12020   20241213  srvpje2gprv  PjePostgresServico                   94.0
13906   20241214  srvpje1gprv  PjePostgresServico                  326.0
14431   20241214  srvpje2gprv  PjePostgresServico                   66.0
16317   20241215  srvpje1gprv  PjePostgresServico                  342.0
16842   20241215  srvpje2gprv  PjePostgresServico                   76.0

,AnoMesDia,Instancia,DataSource,QtdConexoesCriadasDia
2377,20241209,srvpje2gprv,PjePostgresServicoEscrita,1.0
4788,20241210,srvpje2gprv,PjePostgresServicoEscrita,1.0
7199,20241211,srvpje2gprv,PjePostgresServicoEscrita,1.0
12021,20241213,srvpje2gprv,PjePostgresServicoEscrita,1.0